html {
  box-sizing: border-box;
}

* {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: black;
}

a {
  font-weight: bold;
}

em {
  font-size: 12px;
}

nav {
  text-align: center;
}

.flex-centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.index img {
  width: 200px;
  padding: 4px;
}

.pages img {
  height: 500px;
}

ul, ol, li {
  text-align: left;
}